certifi==2024.6.2
chardet==5.2.0
charset-normalizer==3.3.2
Faker==26.3.0
greenlet==3.0.3
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
pillow==10.4.0
python-dateutil==2.9.0.post0
reportlab==4.2.2
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2
urllib3==2.2.2
watchdog==4.0.1
Werkzeug==3.0.3
