body{
    width: 100%;
    height: 100vh;
}
.mid{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tickets{
    width: 500px;
    height: fit-content;
    border: 1mm solid #0ef;
    border-radius: 2mm;
    box-sizing: border-box;
    padding: 10px;
    max-height: 90vh;
    overflow: auto;
    background: transparent;
    color: #f5f5f5;
}
.ticket-selector{
    background: rgba(116, 110, 110, 0.329);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}
.heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.title{
    font-size: 16px;
    font-weight: 600;
    color: #f1683a;
}
.seats{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
    position: relative;
}
.status{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.seats::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 220px;
    height: 7px;
    background: #0ef;
    border-radius: 0 0 3mm 3mm;
    border-top: 0.3mm solid rgb(180, 180, 180);
}
.item{
    font-size: 12px;
    position: relative;
}
.item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    outline: 0.2mm solid rgb(120, 120, 120);
    border-radius: 0.3mm;
}
.item:nth-child(2)::before{
    background: #f1683a;
    outline: none;
}
.item:nth-child(3)::before{
    background: rgb(17, 196, 209);
    outline: none;
}
.all-seats{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 15px;
    margin: 60px 0;
    margin-top: 20px;
    position: relative;
}
.seat{
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 0.5mm;
    outline: 0.3mm solid rgb(100, 211, 219);
    cursor: pointer;
}
.all-seats input:checked + label{
    background: #0ef;
    outline: none;
}
.seat.booked{
    background: #f1683a;
    outline: none;
}
input{
    display: none;
}
.timings{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: #000;
}
.dates{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dates-item{
    width: 50px;
    height: 40px;
    background: #f5f5f5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 2mm;
    outline: 0.3mm solid #f1683a;
    cursor: pointer;
}
.day{
    font-size: 12px;
    font-weight: bold;
}
.times{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.time{
    font-size: 14px;
    font-weight: bold;
    width: fit-content;
    padding: 7px 14px;
    background: rgb(255, 255, 255);
    border-radius: 2mm;
    outline: 0.3px solid #f1683a;
    cursor: pointer;
}
.timings input:checked + label{
    background: #0ef;
    color: #000;
}
.price {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #f5f5f5;
}
.total span {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}
.price button {
    background: #0ef;
    color: #fff;
    font-size: 14px;
    padding: 7px 14px;
    border-radius: 2mm;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-top: 4px;
}
.price button:hover{
    background: #f1683a;
}
