.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.tickets {
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 90%;
    max-width: 700px;
    margin: 20px;
    border: 1mm solid #0ef;
}
.tickets label{
    color: #000;
}
.ticket-selector {
    padding: 20px;
}
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
}
.seats{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100px;
    position: relative;
}
.status{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.item{
    font-size: 12px;
    position: relative;
}
.item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    outline: 0.2mm solid rgb(120, 120, 120);
    border-radius: 0.3mm;
}
.item:nth-child(2)::before{
    background: #f1683a;
    outline: none;
}
.item:nth-child(3)::before{
    background: rgb(17, 196, 209);
    outline: none;
}
.screen{
    background-color: #fff;   
    height: 100px;
    width: 90%;
    margin: 10px 0;
    transform: rotateX(-40deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
.all-seats{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 15px;
    margin: 60px 0;
    margin-top: 1px;
    position: relative;
}
.seat{
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 0.5mm;
    outline: 0.3mm solid rgb(100, 211, 219);
    cursor: pointer;
}
.all-seats input:checked + label{
    background: #0ef;
    outline: none;
}
.seat.booked{
    background: #f1683a;
    outline: none;
}
input{
    display: none;
}
.timings{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #000;
}
.dates{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dates-item{
    width: 50px;
    height: 40px;
    background: #f5f5f5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 2mm;
    outline: 0.3mm solid #f1683a;
    cursor: pointer;
}
.day{
    font-size: 12px;
    font-weight: bold;
}
.times{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.time{
    font-size: 14px;
    font-weight: bold;
    width: fit-content;
    padding: 7px 14px;
    background: rgb(255, 255, 255);
    border-radius: 2mm;
    outline: 0.3px solid #f1683a;
    cursor: pointer;
}
.timings input:checked + label{
    background: #0ef;
    color: #000;
}
.price {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price p{
    margin: 5px 0;
}
.price p.text span{
    color: rgb(33, 138, 33);
}
