.container {
    min-height: calc(100vh - 50px);
    color: #f1683a;
}

.content-container {
    margin-left: 15px;
    margin-top: 10px;
}
.movie-list-title {
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 10px; 
    position: relative;
    cursor: default; 
    letter-spacing: 10px;
    text-transform: uppercase;
    transition: .3s ease-in-out;
}
.movie-list-title::after{
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #f1683a; /* Color of the underline */
    position: absolute;
    bottom: -5px; /* Adjust as needed */
    left: 25%; /* Center the underline */
    transform: scaleX(0);
    transition: transform 0.3s;
}
.movie-list-title:hover{
    color: #007BFF;
}
.movie-list-title:hover::after{
    transform: scaleX(1);
}
#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.form_input {
    position: relative;
    width: 100%;
    max-width: 400px;
}

#search-input {
    width: 100%;
    padding: 10px 20px;
    border: .5px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    height: 36px;
    background-color: transparent;
    color: #f5f5f5;
}

#search-input:focus {
    border-color: #007BFF;
    outline: none;
}
.search-btn {
    position: absolute;
    right: .5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
    color: #007BFF;
    transition: color 0.3s;
}

.search-btn:hover {
    color: #0056b3;
}

.search-btn i {
    font-size: 24px;
}
.movie-list-container {
    padding: 0 20px;
}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movie-list-item {
    width: 200px;
    position: relative;
    transition: transform 0.3s;
    overflow: hidden;
}
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}
.movie-list-item:hover {
    transform: scale(1.05);
}
.movie-list-item-img {
    display: block;
    width: 100%;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}
.movie-list-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
}
.movie-list-item:hover .movie-list-item-info{
    opacity: 1;
}
.movie-list-item-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.movie-list-item-genre {
    font-size: 14px;
    color: #ccc;
}
.movie-list-item-button {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    background-color: #0ef;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #000;
    transition: background-color 0.3s, opacity 0.3s;
    opacity: 0;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}
.movie-list-item-button:hover {
    background-color: #0bf;
}
