.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form_box{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0ef;
}
.form_box h2 {
    margin-top: 0;
    color: #f1683a;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
}
.input_group{
    display: flex;
    flex-direction: column;
}
.input_field{
    position: relative;
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 40px;
    transition: max-height 0.5s;
    overflow: hidden;
}
.input_field i{
    margin-left: 15px;
    color: #999;
}
.input_field input{
    width: calc(100% - 50px);
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
.toggle-password{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #999;
    cursor: pointer;
    transition: color 0.3s ease;
}
.toggle-password:hover{
    color: #f1683a;
}
/* Ensure the eye icon is properly aligned and sized */
.toggle-password i {
    margin: 0;
}
.checkbox_group {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.checkbox_group input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #f1683a; /* Adjust the color as needed */
}

.checkbox_group label {
    color: #eaeaea;
    font-size: 14px;
    cursor: pointer;
}

.checkbox_group input[type="checkbox"]:hover + label {
    color: #f1683a;
}
button {
    letter-spacing: 4px;
    width: 50%;
    font-weight: 500;
    display:block;
    margin: 15px auto;
    padding: 10px;
    background-color: #9acd32;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease-in;
}
button:hover {
    background-color: #0ef;
}
.error{
    color: #ff0000;
}

.form_footer {
    margin-top: 200px;
}
#lForm_footer{
    margin-top: 20px;
}
#rForm_footer{
    margin-top: 20px;
}
.form_footer hr {
    margin-bottom: 10px;
}
.form_footer p {
    margin: 0;
    color: #f6f6f6;
}
.form_footer a {
    color: #0ef;
    text-decoration: none;
}
.form_footer a:hover {
    text-decoration: underline;
}
