@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
*{ 
    font-family: "Comic Neue", cursive;
}
body {
    margin: 0;
    padding: 0;
    background-color: #000;
}
label{
    color: #0ef;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-box {
    width: 300px;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0ef;
}
.form-box h2 {
    margin-top: 0;
    color: #0ef;
    margin-left: 50px;
}
.form-footer {
    margin-top: 20px;
    text-align: center;
}
.form-footer hr {
    margin-bottom: 10px;
}
.form-footer p {
    margin: 0;
    color: #f6f6f6;
}
.form-footer a {
    color: #0ef;
    text-decoration: none;
}
.form-footer a:hover {
    text-decoration: underline;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"] {
    background-color: #f6f6f6;
    width: calc(100% - 30px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #0ef;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    width: 50%;
    font-weight: 500;
    display:block;
    margin-left: 50px;
    padding: 10px;
    background-color: #9acd32;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease-in;
}
button:hover {
    background-color: #0ef;
}
.error{
    color: #ff0000;
}