.text_box{
    width: 90%;
    color: #f5f5f5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text_box h1{
    font-size: 30px;
    color: #0ef;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.text_box p{
    margin: 10px 0 40px;
    font-size: 14px;
    letter-spacing: 2px;
}
.slide_btn{
    display: inline-block;
    text-decoration: none;
    color: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.slide_btn:hover{
    border: 1px solid #9acd32;
    background: #0ef;
    color: #000;
    font-weight: 600;
}
