@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
}
body{
    background: linear-gradient(
      to right,
      rgb(77, 198, 214),
      rgb(190, 105, 48)
    );
    justify-content: center;
    min-height: 100vh;
}
header{
    width: 100%;
    max-width: 95%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}
header .logo{
    font-weight: Bold;
    letter-spacing: 6px;
    text-transform: uppercase;
    transition: .5s ease-out;
    color: #000;
    margin: auto;
    position: fixed;
}
header .logo:hover{
    color: #f1683a;
    cursor: pointer;
}
header .navS{
    box-shadow: none;
    padding: 12px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 500;
}
.navS .nav{
    display: flex;
    margin-left: 10px;
    font-size: 16px;
}
.right{
    display: flex;
    align-items: center;
}
.right .search{
    background-color: #fff;
    margin-left: 2200px;
    margin-bottom: 18px;
    width: 36px;
    height: 32px;
    margin-right: -55px;
    text-align: center;
    margin-top: 30px;
    border-radius: 4px;
}
.right .search svg {
    text-align: center;
    width: 13px;
    height: 13px;
    color: #f5f5f5;
    margin: 10px 12px;
}
.right input{
    margin-inline: 0px;
    margin-left: 50px;
    margin-bottom: 18px;
    width: 300px;
    height: 32px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 14px;
    color: #000;
    margin-top: 30px;
    border-radius: 4px;
}
section{
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    margin-top: -20px;
}
section .menu{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
section .menu a{
    text-decoration: none;
    font-size: 16px;
    margin-inline: 5px;
    transition: .3s ease-in-out;
    color: #000;
}
section .menu a:hover{
    color: #01f;
    cursor: pointer;
    font-weight: 500;
}
section .menu button{
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    border: 1px solid transparent;
    margin-inline: 10px;
    color: #000;
}
section .menu button:hover{
    color: #01f;
    font-weight: 500;
}
.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 40%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #f1683a;
    font-size: 20px;
    font-weight: bold;
}
.slider .list .item .content h2{
    font-size: 40px;
    color: #0ef;
    margin: 0;
}
.slider .list .item .content h3{
    font-size: 20px;
    color: #f5f5f5;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active h3,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1.2s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.4s;
}
/*thumbnails*/
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 15px;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    filter: brightness(.5s);
    transition: .5s;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
    color: #0ef;
}
/*arrows*/
.arrows{
    position: absolute;
    top: 80%;
    right: 70%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f1683a;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.arrows button:nth-child(2){
    background-color: #0ef;
    color: #fff;
}
.arrows button:nth-child(2):hover{
    background-color: #f1683a;
    color: #000;
}
.arrows button:hover{
    background-color: #0ef;
    color: #000;
}

/* create animation when next click */
.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}
@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}
/* running time */
.slider .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #0ef;
    left: 0;
    top: 0;
}
.slider.next .time,
.slider.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}
/* prev 0n-click */
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}
.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}
.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .arrows button,
.slider.prev .arrows button{
    pointer-events: none;
}
.slider.prev .list .item:nth-child(2) .content p,
.slider.prev .list .item:nth-child(2) .content h2,
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}
@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
        animation: showContent .5s 1s linear 1 forwards;
    }
}
.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}
@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}
@media screen and (max-width: 600px) {
    body{
        background-color: #000;
    }
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content p{
        font-size: 30px;
    }
}



