<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../assets/static/css/admin.css">
</head>
<body>
    <div class="form-container">
        <div class="form-box" id="registrationFormContainer">
            <h2>Admin Registration</h2>
            <form id="registrationForm" enctype="multipart/form-data">
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" required><br>

                <label for="email">Email: </label>
                <input type="email" id="email" name="email" required><br>
                
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" required><br>
                
                <label for="profilePicture">Profile Picture: </label>
                <input type="file" id="profilePicture" name="profilePicture" accept="image/*" required><br>
                <button type="submit" id="registerbutton">Register</button>
            </form>
            <div class="form-footer">
                <hr>
                <p>Already have an account? <a href="#" onclick="toggleForm('login')">Login</a></p>
            </div>
        </div>

        <div class="form-box" id="loginFormContainer">
            <h2>Admin Login</h2>
            <form id="loginForm">
                <label for="loginEmail">Email: </label>
                <input type="email" id="loginEmail" name="loginEmail" required><br>
                
                <label for="loginPassword">Password:</label>
                <input type="password" id="loginPassword" name="loginPassword" required><br>
                
                <button type="submit">Login</button>
            </form>
            <div class="form-footer">
                <hr>
                <p>Forgot Password? <a href="#" onclick="toggleForm('forgot')">Click Here</a></p>
                <p>Don't have an account yet? <a href="#" onclick="toggleForm('registration')">Sign Up</a></p>
            </div>
        </div>
    </div>

    <script src="../assets/static/js/admin.js"></script>
</body>
</html>
