<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> LuKoBa | Home </title>
	<link rel="stylesheet" href="/static/css/style.css">
	{% block extrastyles %}

	{% endblock extrastyles %}

</head>

<body>
	<header>
	<div class="logo">LuKoBa</div>
        <nav>
            <a href="/">Movies<span></span></span></a>
            <a href="/booking">Booking<span></span></a>
			{% if session['user'] %}
				{% if session['is_admin'] %}
				<a href="/dashboard">Dashboard</a>
				{% endif %}
			<a href="/logout">Logout</a>
			{% else %}
			<a href="/login" class="sign" id="sign">Login</a>
			{% endif %}
        </nav>
    </header>
	{% block content %}{% endblock %}

	{% block extrascripts %}
	<script src="/static/js/script.js"></script>
	{% endblock extrascripts %}
</body>

</html>