{% extends "base.html" %}

{% block extrastyles %}
<link rel="stylesheet" href="/static/css/booking.css">
{% endblock extrastyles %}

{% block content %}
<div class="mid">
    <div class="tickets">
        <div class="ticket-selector">
            <div class="heading">
                <div class="title">Movie: {{movie}}</div>
            </div>
            <div class="seats">
                <div class="status">
                    <div class="item">Available</div>
                    <div class="item">Booked</div>
                    <div class="item">Selected</div>
                </div>
                <div class="screen"></div>
                <div class="all-seats">
                    <!-- Seats will be dynamically generated here -->
                </div>
            </div>
            <div class="timings">
                <div class="date-selector">
                    <label for="movie-date">Select Date:</label>
                    <input type="date" id="movie-date" name="date">
                </div>
                <div class="times">
                    <input type="radio" name="time" id="t1" value="12:00 PM" checked>
                    <label for="t1" class="time">12:00 PM</label>
                    <input type="radio" name="time" id="t2" value="03:00 PM">
                    <label for="t2" class="time">03:00 PM</label>
                    <input type="radio" name="time" id="t3" value="06:00 PM">
                    <label for="t3" class="time">06:00 PM</label>
                    <input type="radio" name="time" id="t4" value="09:00 PM">
                    <label for="t4" class="time">09:00 PM</label>
                </div>
            </div>
            <div class="price">
                <p class="text">You have selected <span id="count">0</span> seat(s) for a price of Ksh.<span id="total">0</span></p>
            </div>
            <div class="book-button-container">
                <button id="book-button" onclick="submitBooking()">Book Now</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
<script src="/static/js/booking.js"></script>
{% endblock extrascripts %}
