{% extends 'dashboard_base.html' %}
{% block extrastyles %}
<link rel="stylesheet" href="../static/css/dashMovies.css">
{% endblock extrastyles %}
{% block content %}
<div class="header">
    <div class="left">
        <h1 style="letter-spacing: 10px;">MOVIES</h1>
        <ul class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#" class="active">/ Movies</a></li>
        </ul>
    </div>
    <a href="#" class="report"><i class='bx bx-cloud-download'></i><span>Download CSV</span></a>
</div>

<div class="movies">
    {% for movie in movies %}
    <a class="rec_card" href="/dashboard/movies/{{movie.imdbID}}">
        <div class="movie">
            <div >
                <img src="{{movie.Poster}}" alt="">
                <div class="caption text-center">{{movie.Title}}</div>
                <p>{{movie.Year}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>



{% endblock content %}