{% extends 'dashboard_base.html' %}
{% block content %}
<div class="header">
    <div class="left">
        <h1 style="letter-spacing: 10px;">ANALYTICS</h1>
        <ul class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#" class="active">/Analytics</a></li>
        </ul>
    </div>
    <a href="#" class="report"><i class='bx bx-cloud-download'></i><span>Download CSV</span></a>
</div>
<ul class="insights">
    <li><i class='bx bx-calendar-check'></i><span class="info">
            <h3 id="tickets-sold">1,074</h3>
            <p>Tickets Sold</p>
        </span></li>
    <li><i class='bx bx-show-alt'></i><span class="info">
            <h3 id="visitors">3,944</h3>
            <p>Users</p>
        </span></li>
        <li><i class='bx bx-trending-up'></i><span class="info">
            <h3 id="conversion-rate">12.4%</h3>
            <p>Conversion Rate</p>
        </span></li>
    <li><i class='bx bx-dollar-circle'></i><span class="info">
            <h3 id="revenue">$6,742</h3>
            <p>Revenue</p>
        </span></li>
</ul>
<div class="bottom_data">
    <div class="orders">
        <div class="chart-container">
            <canvas id="revenueChart"></canvas>
        </div>
    </div>
    <div class="reminders">
        <div class="chart-container">
            <canvas id="ticketsSoldChart"></canvas>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../static/js/dash.js"></script>
<script src="/static/js/dashAnalytics.js"></script>
{% endblock extrascript %}