{% extends 'dashboard_base.html' %}
{% block content %}
<div class="header">
    <div class="left">
        <h1 style="letter-spacing: 10px;">USERS</h1>
        <ul class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#" class="active">/users</a></li>
        </ul>
    </div>
</div>
<div class="bottom_data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-group'></i>
            <h3>Registered Users</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>E-mail</th>
                    <th>Date Registered</th>
                </tr>
            </thead>
            <tbody>
                <!-- registered users rows will be populated here -->
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}