{% extends 'dashboard_base.html' %}
{% block content %}
<div class="header">
    <div class="left">
        <h1 style="letter-spacing: 10px;">BOOKINGS</h1>
        <ul class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#" class="active">/Bookings</a></li>
        </ul>
    </div>
</div>
<ul class="insights">
    <li><i class='bx bx-calendar-check'></i><span class="info">
            <h3 id="tickets-sold">1,074</h3>
            <p>Tickets Sold</p>
        </span></li>
    <li><i class='bx bx-show-alt'></i><span class="info">
            <h3 id="visitors">3,944</h3>
            <p>Visitors</p>
        </span></li>
    <li><i class='bx bx-line-chart'></i><span class="info">
            <h3 id="searches">14,721</h3>
            <p>Searches</p>
        </span></li>
    <li><i class='bx bx-dollar-circle'></i><span class="info">
            <h3 id="revenue">$6,742</p>
        </span></li>
</ul>
<div class="bottom_data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-receipt'></i>
            <h3>Recent Bookings</h3>
            <div>
                <i class='bx bx-filter'></i>
                <i class='bx bx-search'></i>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Movie</th>
                    <th>Booking Date</th>
                    <th>Showtime</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="recent-bookings">
                <!-- Booking rows will be populated here -->
            </tbody>
        </table>
    </div>
    <div class="reminders">
        <div class="header">
            <i class='bx bx-note'></i>
            <h3>Movie Reminders</h3>
            <div>
                <i class='bx bx-filter'></i>
                <i class='bx bx-plus'></i>
            </div>
        </div>
        <ul class="task-list" id="task-list">
            <li class="completed">
                <div class="task-title">
                    <i class='bx bx-check-circle'></i>
                    <p>Movie Premiere Preparation</p>
                </div>
                <i class='bx bx-dots-vertical-rounded'></i>
            </li>
            <li class="completed">
                <div class="task-title">
                    <i class='bx bx-check-circle'></i>
                    <p>Review Upcoming Movies</p>
                </div>
                <i class='bx bx-dots-vertical-rounded'></i>
            </li>
            <li class="not-completed">
                <div class="task-title">
                    <i class='bx bx-x-circle'></i>
                    <p>Check Movie Schedule</p>
                </div>
                <i class='bx bx-dots-vertical-rounded'></i>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}