{% extends 'dashboard_base.html' %}

{% block extrastyles %}
<link rel="stylesheet" href="/static/css/dashMovies.css">
<style>
    :root {
        --background-color: #f9f9f9;
        --text-color: #333;
        --accent-color: #f1683a;
        --button-bg-color: rgb(255, 0, 0);
        --button-hover-bg-color: darkred;
        --modal-bg-color: white;
        --modal-overlay-color: rgba(0, 0, 0, 0.7);
    }

    body.dark-theme {
        --background-color: #333;
        --text-color: #f9f9f9;
        --accent-color: #f1683a;
        --button-bg-color: rgb(255, 0, 0);
        --button-hover-bg-color: darkred;
        --modal-bg-color: #444;
        --modal-overlay-color: rgba(0, 0, 0, 0.9);
    }

    body.light-theme {
        --background-color: #f9f9f9;
        --text-color: #333;
        --accent-color: #f1683a;
        --button-bg-color: rgb(255, 0, 0);
        --button-hover-bg-color: darkred;
        --modal-bg-color: white;
        --modal-overlay-color: rgba(0, 0, 0, 0.7);
    }

    body {
        background-color: var(--background-color);
        color: var(--text-color);
    }

    .movie-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20px;
        padding: 20px;
        background-color: var(--background-color);
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .movie-details .poster {
        flex: 0 0 30%;
        max-width: 200px;
        margin-bottom: 20px;
    }

    .movie-details .poster img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .movie-details .details {
        flex: 1;
        padding-left: 20px;
    }

    .movie-details .details h2 {
        margin-top: 0;
    }

    .movie-details .details p {
        margin-bottom: 10px;
        font-size: 14px;
        color: var(--text-color);
    }

    .modal-overlay {
        display: none;
        background: var(--modal-overlay-color);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        align-items: center;
        justify-content: center;
    }

    .modal-wrapper {
        width: 60vw;
        max-width: 800px;
        background: var(--modal-bg-color);
        color: var(--text-color);
        border-radius: 10px;
        position: relative;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .btn {
        padding: 8px 16px;
        background-color: var(--button-bg-color);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        color: ghostwhite;
        font-weight: bold;
        margin: 10px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: var(--button-hover-bg-color);
    }

    .modal-content h1,
    .modal-content h2 {
        text-align: center;
        margin-top: 0;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-group {
        margin: 10px 0;
        width: 80%;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group input[type="date"],
    .form-group input[type="time"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .report.open-modal-btn {
        cursor: pointer;
        background-color: var(--accent-color);
        border: none;
        border-radius: 1px;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .report.open-modal-btn i {
        font-size: 20px;
    }

    .report.open-modal-btn:hover {
        background-color: var(--accent-color);
        transform: translateY(-2px);
    }
</style>
{% endblock extrastyles %}

{% block content %}
<div class="header">
    <div class="left">
        <h1 style="letter-spacing: 10px;">MOVIE INFO</h1>
        <ul class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#" class="active">/ Movies</a></li>
            <li><a href="#" class="active">/ {{movie.Title}}</a></li>
        </ul>
    </div>
    <div class="open-modal-btn-wrapper">
        <button class="report open-modal-btn">
            <i class='bx bx-comment-add'></i>
            <span>Add</span>
        </button>
    </div>
</div>

<div class="movie-details">
    <div class="poster">
        <img src="{{ movie.Poster }}" alt="Movie Poster">
    </div>
    <div class="details">
        <h2 style="color: #f1683a;">{{ movie.Title }}</h2>
        <p><strong>Year:</strong> {{ movie.Year }}</p>
        <p><strong>Rated:</strong> {{ movie.Rated }}</p>
        <p><strong>Released:</strong> {{ movie.Released }}</p>
        <p><strong>Runtime:</strong> {{ movie.Runtime }}</p>
        <p><strong>Genre:</strong> {{ movie.Genre }}</p>
        <p><strong>Director:</strong> {{ movie.Director }}</p>
        <p><strong>Writer:</strong> {{ movie.Writer }}</p>
        <p><strong>Actors:</strong> {{ movie.Actors }}</p>
        <p><strong>Plot:</strong> {{ movie.Plot }}</p>
        <p><strong>Language:</strong> {{ movie.Language }}</p>
        <p><strong>Country:</strong> {{ movie.Country }}</p>
        <p><strong>Awards:</strong> {{ movie.Awards }}</p>
        <p><strong>IMDB Rating:</strong> {{ movie.imdbRating }}</p>
        <p><strong>IMDB Votes:</strong> {{ movie.imdbVotes }}</p>
    </div>
</div>
{% if showtimes %}
<div style="margin-top: 20px;margin-bottom: 20px;">
    <h2>Show Times</h2>
    <ul>
        {% for showtime in showtimes %}
        <li style="margin: 20px;font-weight: bold;">{{ showtime.date }} at {{ showtime.time }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="modal-overlay hide">
    <div class="modal-wrapper">
        <div class="close-btn-wrapper">
            <button class="btn close-modal-btn">
                X
            </button>
        </div>
        <div class="modal-content">
            <h1>Show Movie</h1>
            <h2>Add a showtime for this movie below</h2>
            <form method="post" action="/dashboard/movies/add">
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" required>
                </div>
                <div class="form-group">
                    <label for="time">Time:</label>
                    <input type="time" id="time" name="time" required>
                </div>
                <input type="hidden" name="movie" value="{{movie.imdbID}}">
                <button type="submit" class="btn">Add Showtime</button>
            </form>
        </div>
    </div>
</div>

<script>
    const openBtn = document.querySelector(".open-modal-btn");
    const modal = document.querySelector(".modal-overlay");
    const closeBtn = document.querySelector(".close-modal-btn");

    function openModal() {
        modal.classList.remove("hide");
        modal.style.display = 'flex';
    }

    function closeModal(e, clickedOutside) {
        if (clickedOutside) {
            if (e.target.classList.contains("modal-overlay"))
                modal.classList.add("hide");
                modal.style.display = 'none';
        } else {
            modal.classList.add("hide");
            modal.style.display = 'none';
        }
    }

    openBtn.addEventListener("click", openModal);
    modal.addEventListener("click", (e) => closeModal(e, true));
    closeBtn.addEventListener("click", (e) => closeModal(e, false));

</script>
{% endblock content %}
