<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuKoBa | Home</title>
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="header">
        <div class="text_box">
            <h1>Welcome to LuKoBa!</h1>
            <p>Lights, camera, action! Dive into a world of entertainment and escape with us.<br> Book your tickets now and experience the magic of cinema like never before. Your next blockbuster adventure awaits.<br> Lights dim, hearts race!.</p>
            <button onclick="redirectToIndex()" class="slide_btn">Visit us to Find More</button>
        </div>
        <footer>
            <p>&copy; 2024 LuKoBa. All rights reserved.</p>
        </footer>
    </section>
    <script src="../static/assets/js/script.js"></script>
</body>
</html>