{% load static %}
{% extends "base.html" %}

{% block content %}
<style>
    .see-more {
        display: inline-block;
        text-decoration: none; 
        color: #fff; 
        background-color: #007d9c; 
        padding: 10px 20px; 
        border-radius: 5px; 
        font-size: 16px; 
        font-weight: bold; 
        text-align: center; 
        transition: background-color 0.3s ease, color 0.3s ease; 
    }
    .see-more:hover {
        background-color: #f1683a; 
        color: #e0e0e0; 
    }
</style>
<!-- Carousel -->
<div class="carousel">
    <div class="list">
        {% for movie in movies %}
        <div class="item {% if forloop.first %}active{% endif %}">
            <img src="{{ movie.poster }}" alt="{{ movie.title }}">
            <div class="content">
                <div class="title">{{ movie.title }}</div>
                <div class="genre">{{ movie.genre }}</div>
                <div class="des">{{ movie.description }}</div>
                <div class="buttons">
                    <!--<button id="extras">Trailer</button>-->
                    <a href="{% url 'movie_detail' movie.imdb %}" style="text-decoration: none; color: #000; " class="see-more">See More</a>
                    <!--<button> <a href="/movies/{{movie.imdb}}/book" class="btn btn-primary" style="text-decoration: none; color: #000;"> BOOK NOW</a></button>-->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Thumbnails -->
    <div class="thumbnail">
        {% for movie in movies %}
        <div class="item {% if forloop.first %}active{% endif %}">
            <img src="{{ movie.poster }}" alt="{{ movie.title }}">
            <div class="content">
                <div class="title">{{ movie.title }}</div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Next Prev -->
    <div class="arrows">
        <button id="prev">&lt;</button>
        <button id="next">&gt;</button>
    </div>

    <!-- Time Running -->
    <div class="time"></div>
</div>
{% endblock content %}

{% block extrascripts %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock extrascripts %}
