<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🍿LuKoBa | Home</title>
    <link rel="stylesheet" href="../assets/css/styleH.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header">
    <header>
        <nav class="navF">
            <div class="navL">
                <div class="logo">
                    <svg height = "30" width = "200" xmlns = "http:www.w3.org/2000/svg">
                        <text onclick="redirectToHome()" x="10" y="22" font-size = "19" fill ="#0ef">🍿LuKoBaShows</text>
                    </svg>
                </div>
            </div>
        </nav>
    </header>
        <div class="text_box">
            <h1>Welcome to LuKoBa!</h1>
            <p>Lights, camera, action! Dive into a world of entertainment and escape with us.<br> Book your tickets now and experience the magic of cinema like never before. Your next blockbuster adventure awaits.<br> Lights dim, hearts race!.</p>
            <button onclick="redirectToIndex()" class="slide_btn">Visit us to Find More</button>
        </div>
    </section>
    <script>
    function redirectToIndex() {
        window.location.href = "index.html";
    }
    function redirectToHome(){
        window.location.href = "home.html";
    }
    </script>
</body>
</html>