<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> LuKoBa | Home </title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo" onclick="redirectToHome()">LuKoBa</div>        
    </header>
    <section>
        <div class="menu">
            <a href="index.html">Home</a>
            <a href="movies.html">Movies</a>
            <a href="booking.html">Booking</a>
            <button class="sign" id="sign" onclick="redirectToLogin()">Login</button>
        </div>
    </section>
    <div class="text_box">
        <h1>Welcome to LuKoBa!</h1>
        <p>Lights, camera, action! Dive into a world of entertainment and escape with us.<br> Book your tickets now and experience the magic of cinema like never before. Your next blockbuster adventure awaits.<br> Lights dim, hearts race!.</p>
        <button onclick="redirectToIndex()" class="slide_btn">Visit us to Find More</button>
    </div>
    <script>
        function redirectToIndex() {
            window.location.href = "movies.html";
        }
        function redirectToHome(){
            window.location.href = "index.html";
        }
        function redirectToLogin(){
            window.location.href = "login.html";
        }
    </script>
</body>
</html>