<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🍿LuKoBaShows</title>
    <link rel="stylesheet" href="../assets/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
        <nav class="fullNav">
            <div class="leftNav">
                <div class="logo">
                    <svg height = "30" width = "200" xmlns = "http:www.w3.org/2000/svg">
                        <text x="10" y="22" font-size = "19" fill ="#0ef">🍿LuKoBaShows</text>
                    </svg>
                </div>   
                <div class="search">
                <svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                    <title>Search</title>
                    <path
                        d="M11.8 10.864L8.859 7.918a4.912 4.912 0 0 0-.444-6.47A4.888 4.888 0 0 0 4.928 0a4.888 4.888 0 0 0-3.485 1.449 4.942 4.942 0 0 0 0 6.979 4.888 4.888 0 0 0 3.485 1.449c1.052 0 2.105-.33 2.976-1.005l2.96 2.93a.658.658 0 0 0 .476.198.686.686 0 0 0 .477-.198.672.672 0 0 0-.016-.938zm-6.855-2.32c-.97 0-1.858-.38-2.549-1.054C1 6.09 1 3.802 2.396 2.387a3.578 3.578 0 0 1 2.549-1.054c.97 0 1.858.379 2.548 1.054s1.052 1.58 1.052 2.551c0 .971-.378 1.86-1.052 2.552a3.539 3.539 0 0 1-2.548 1.053z"
                        fill="#777"></path>
                </svg>
                </div>
                <input class="text" type="text" placeholder="search for movies, events, plays, sports and activities">
            </div>
            <div class="right">
                <p>uchiha</p>
                <div class="arrow">
                    <img src="../assets/images/down-arrow1.svg" alt="">
                </div>
                <div class="sign">
                    <button><a href="login.html" target="_self">Login</a></button>
                </div>
                <div class="bar">
                    <svg width="22px" height="14px" xmlns="http://www.w3.org/2000/svg">
                        <title>Hamburger Menu</title>
                        <g fill-rule="nonzero" stroke="#FFF" stroke-width="1.5" fill="none" stroke-linecap="round">
                            <path d="M1.611 1h20.614M1.611 7h20.614M1.611 13h20.614"></path>
                        </g>
                    </svg>
                </div>
            </div>
        </nav>
        <nav class="secNav">
            <div class="secLeft">
                <a href="index.html"><p>Movies</p></a>
                <p>Stream</p>
                <p>Events</p>
                <p>Plays</p>
                <p>Sports</p>
                <p>Activities</p>
            </div>
            <!--<div class="secRight">
                <p>ListYourShow</p>
                <p>Corporate</p>
                <p>Offers</p>
                <p>Gift Cards</p>
            </div>-->
        </nav>
        <div class="main">
            <section class="section">
                <div class="slider">
                  <div class="slide">
                    <input type="radio" name="radio-btn" id="radio1" />
                    <input type="radio" name="radio-btn" id="radio2" />
                    <input type="radio" name="radio-btn" id="radio3" />
                    <input type="radio" name="radio-btn" id="radio4" />
                   
                    <div class="st first">
                      <img
                        src="../assets/images/event1.avif" alt=""/>
                    </div>
                    <div class="st">
                      <img
                      src="../assets/images/event3.avif" alt=""/>
                    </div>
                    <div class="st">
                      <img
                      src="../assets/images/event2.avif" alt=""/>
                    </div>
                    <div class="st">
                        <img
                        src="../assetsshow/images/event4.avif" alt=""/>
                    </div>
                  </div>
          <div class="nav_m">
              <label for="radio1" class="m_btn"></label>
              <label for="radio2" class="m_btn"></label>
              <label for="radio3" class="m_btn"></label>
              <label for="radio4" class="m_btn"></label>
          </div>
        </div>
    </section>
</div>
<div class="reCom">
    <div class="next">
        <div class="round">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 21 35" width="29px" height="20px">
                <g fill="#FFFFFF" fill-rule="evenodd">
                  <path d="M1.276 31.647a1.543 1.543 0 01.033-2.17l14.59-14.09a1.531 1.531 0 012.171.043c.59.61.566 1.592-.033 2.17L3.447 31.69a1.531 1.531 0 01-2.17-.043z"></path>
                  <path d="M1.276 1.43A1.543 1.543 0 001.31 3.6L15.9 17.69a1.531 1.531 0 002.171-.043 1.543 1.543 0 00-.033-2.17L3.447 1.387a1.531 1.531 0 00-2.17.043z"></path>
                </g>
            </svg>         
        </div>
    </div>
    <div class="rec_head">
        <h2>Recommended</h2>
        <p><a href="#" target="_self">See All></a></p>
    </div>
    <div class="rec_card">
            <div class="movie">
                <figure>
                    <img class="title" src="../assets/images/the_nuns.jpg" alt="" >
                    <figcaption>The Nun</figcaption>
                    <p>Horror/Adventure/Thriller</p>
                </figure>
            </div>
            <div class="movie">
                <figure>
                    <img class="title" src="../assets/images/meg.jpg" alt="">
                    <figcaption>The Meg</figcaption>
                    <p>Action/Thriller</p>
                </figure>
            </div>
            <div class="movie">
                <figure>
                    <img class="title" src="../assets/images/wednesday.jpg" alt="">
                    <figcaption>Wednesday</figcaption>
                    <p>Crime/Dram/Thriller</p>
                </figure>
            </div>
            <div class="movie">
                <figure>
                    <img class="title" src="../assets/images/Black_Panther.webp" alt="">
                    <figcaption>Black panther</figcaption>
                    <p>Crime/Dram/Thriller</p>
                </figure>
            </div>
            <div class="movie">
                <figure>
                    <img class="title" src="../assets/images/john_wick.jfif" alt="">
                    <figcaption>john wick</figcaption>
                    <p>Crime/Action/Thriller</p>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="best">
    <div class="container">
        <div class="best-head">
            <h2>Live Events</h2>
        </div>
        <div class="best-card">
            <div class="movie">
                <a href="recomended.html" target="_blank"><img src="../assets/images/live_events/1.avif" alt=""></a>
            </div>
            <div class="movie">
                <a href="recomended.html" target="_blank"><img src="../assets/images/live_events/2.avif" alt=""></a>
            </div>
            <div class="movie">
                <a href="recomended.html" target="_blank"><img src="../assets/images/live_events/3.avif" alt=""></a>
            </div>
            <div class="movie">
                <a href="recomended.html" target="_blank"><img src="../assets/images/live_events/4.avif" alt=""></a>
            </div>
            <div class="movie">
                <a href="recomended.html" target="_blank"><img src="../assets/images/live_events/5.avif" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="trend">
    <div class="trend_head">
        <h2> Now Trending</h2>
    </div>
    <div class="boxes">
        <div class="box">
            <h4>Garudan</h4>
            <p>Movies</p>
        </div>
        <div class="box">
            <h4>Leo</h4>
            <p>Movies</p>
        </div>
        <div class="box">
            <h4>Tiger 3</h4>
            <p>Movies</p>
        </div>
        <div class="box">
            <h4>Bandra</h4>
            <p>Movies</p>
        </div>
        <div class="box">
            <h4>Kannur Squad</h4>
            <p>Movies</p>
        </div>
        <div class="box">
            <h4>ICC Cricket World Cup</h4>
            <p>Sports</p>
        </div>
        <div class="box">
            <h4>Taylor Swift: The Eras Tour</h4>
            <p>Movies</p>
        </div>
        <div class="box">
            <h4>The Marvels</h4>
            <p>Movies</p>
        </div>
        <div class="box">
            <h4>Japan</h4>
            <p>Movies</p>
        </div>
        <div class="box">
            <h4>Jigarthanda Double X</h4>
            <p>Movies</p>
        </div>
        <div class="box">
            <h4>Dunki</h4>
            <p>Movies</p>
        </div>
        <div class="box">
            <h4>Tholvi Fc</h4>
            <p>Movies</p>
        </div>
        <div class="box">
            <h4>Salar</h4>
            <p>Movies</p>
        </div>
    </div>
</div> 
    <div class="Top">
        <h1>Movies By Genre</h1>
        <div class="top_a">
            <a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Drama</a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Thriller</a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Action</a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Comedy</a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Romance</a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Crime </a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Adventure</a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Fiction</a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Sci-fi</a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Political Movies</a>
        </div>
            <h1>Cinemas in Top Cities & Towns</h1>
            <div class="top_a">
                <a href="" class="bwc__sc-1jgpgcm-4 jgzpRM"> Nairobi</a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Nakuru</a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Kisumu</a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Mombasa</a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Eldoret</a><a href="" class="bwc__sc-1jgpgcm-4 jgzpRM">Kakamega</a>
            </div>
    </div>
</body>
</html>