<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="../assets/css/signLog.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://kit.fontawesome.com/a960bf3c61.js" crossorigin="anonymous"></script>
    <script src="../assets/js/signLog.js" defer></script> <!-- Use defer attribute here -->
</head>
<body>
    <header>
        <div class="logo">LuKoBa</div>       
    </header>
    <section>
        <div class="menu">
            <a href="index.html">Home</a>
            <a href="movies.html">Movies</a>
            <a href="booking.html">Booking</a>
            <a href="booking.html">Login</a>
        </div>
    </section>
    <div class="form_container">
        <div class="form_box" id="rFormC">
            <h2 id="title">Sign Up</h2>
            <form id="rForm" enctype="multipart/form-data">
                <div class="input_group">
                    <div class="input_field" id="nameField">
                        <i class="fa-regular fa-user"></i>
                        <input type="text" id="username" placeholder="Name" required>
                    </div>
                    <div class="input_field">
                        <i class="fa-regular fa-envelope"></i>
                        <input type="email" id="email" placeholder="Email" required>
                    </div>
                    <div class="input_field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" id="signupPassword" placeholder="Password" required>
                    </div>
                    <div class="check_cont">
                        <input type="checkbox" id="isAdmin">
                        <label for="isAdmin">Register as Admin</label>
                    </div>
                    <button type="submit" id="registerBtn">Register</button>
                </div>
            </form>
            <div class="form_footer">
                <hr>
                <p>Already have an account? <a href="#" onclick="toggleForm('login')">Login</a></p>
            </div>
        </div>
        <div class="form_box" id="lFormC">
            <h2>Login</h2>
            <form id="lForm">
                <div class="input_group">
                    <div class="input_field">
                        <i class="fa-regular fa-envelope"></i>
                        <input type="email" id="lEmail" placeholder="Email" required>
                    </div>
                    <div class="input_field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" id="lPass" placeholder="Password" required>
                    </div>
                    <button type="submit" id="loginBtn">Login</button>    
                </div>
                </form>
            <div class="form_footer" id="lForm_footer">
                <hr>
                <p>Forgot Password? <a href="#" onclick="toggleForm('forgot')">Click Here</a></p><p> Don't have an account yet? <a href="#" onclick="toggleForm('registration')">Sign Up</a></p>
            </div>
        </div>
    </div>
</body>
</html>
