{% extends "base.html" %}

{% block extrastyles %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock extrastyles %}

{% block content %}
<!-- Carousel -->
<div class="carousel">
    <div class="list">
        <div class="item">
            <img src="/static/image/IT.jpg">
            <div class="content">
                <div class="title">{Title}</div>
                <div class="genre">{Genre}</div>
                <div class="des">{Description}</div>
                <div class="buttons">
                    <button id="extras">SEE MORE</button>
                    <button id="bkNow">BOOK NOW</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/image/maze.jpg">
            <div class="content">
                <div class="title">{Title}</div>
                <div class="genre">{Genre}</div>
                <div class="des">{Description}</div>
                <div class="buttons">
                    <button>SEE MORE</button>
                    <button>BOOK NOW</button>
                </div>
            </div>
        </div>
    </div>
    <!--thumbnails-->
    <div class="thumbnail">
        <div class="item">
            <img src="/static/image/IT.jpg">
            <div class="content">
                <div class="title">{Title}</div>
            </div>
        </div>
        <div class="item">
            <img src="/static/image/maze.jpg">
            <div class="content">
                <div class="title">{Title}</div>
            </div>
        </div>
    </div>
    <!-- next prev -->
    <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <!-- time running -->
    <div class="time"></div>
</div>
{% endblock content %}
{% block extrascripts %}
<script src="/static/js/script.js"></script>
{% endblock extrascripts %}