{% extends "base.html" %}


{% block extrastyles %}
<title>Login</title>
<link rel="stylesheet" href="/static/css/signLog.css">
<link rel="stylesheet" href="/static/css/style.css">
{% endblock extrastyles %}

{% block content %}
<!--sliders-->
<div class="slider">
    <!--slider list items-->
    <div class="list">
        <div class="item active">
            <img src="../assets/images/background_1.jpg" alt="">
            <div class="content">
                <p>{MOVIE TITLE}</p>
                <h2>{GENRE}</h2>
                <h3>{Release Date}</h3>
            </div>
        </div>
        <div class="item">
            <img src="../assets/images/5.jpg" alt="">
            <div class="content">
                <p>{MOVIE TITLE}</p>
                <h2>{GENRE}</h2>
                <h3>{Release Date}</h3>
            </div>
        </div>
    </div>
    <div class="thumbnail">
        <div class="item active">
            <img src="../assets/images/background_1.jpg">
            <div class="content">
                <div class="title">
                    {Title}
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../assets/images/5.jpg">
            <div class="content">
                <div class="title">
                    {Title}
                </div>
            </div>
        </div>
    </div>

    <!-- next & prev buttons -->
    <div class="arrows">
        <button id="prev">&lt;</button>
        <button id="next">&gt;</button>
    </div>
    <!-- running time -->
    <div class="time"></div>
</div>
{% endblock content %}
{% block extrascripts %}
<script src="/static/js/script.js"></script>
{% endblock extrascripts %}