<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> LuKoBa | Movies </title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <div class="logo" onclick="redirectToHome()">LuKoBa</div>
        <nav class="navS">
            <div class="right">
                <div class="search">
                    <svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                        <title>Search</title>
                        <path
                            d="M11.8 10.864L8.859 7.918a4.912 4.912 0 0 0-.444-6.47A4.888 4.888 0 0 0 4.928 0a4.888 4.888 0 0 0-3.485 1.449 4.942 4.942 0 0 0 0 6.979 4.888 4.888 0 0 0 3.485 1.449c1.052 0 2.105-.33 2.976-1.005l2.96 2.93a.658.658 0 0 0 .476.198.686.686 0 0 0 .477-.198.672.672 0 0 0-.016-.938zm-6.855-2.32c-.97 0-1.858-.38-2.549-1.054C1 6.09 1 3.802 2.396 2.387a3.578 3.578 0 0 1 2.549-1.054c.97 0 1.858.379 2.548 1.054s1.052 1.58 1.052 2.551c0 .971-.378 1.86-1.052 2.552a3.539 3.539 0 0 1-2.548 1.053z"
                            fill="#777"></path>
                    </svg>    
                </div>
                <input type="text" class="text" id="searchInput" placeholder="Search for Movies...">
            </div>
        </nav>        
    </header>
    <section>
        <div class="menu">
            <a href="index.html">Home</a>
            <a href="movies.html">Movies</a>
            <a href="booking.html">Booking</a>
            <button class="sign" id="sign" onclick="redirectToLogin()">Login</button>
        </div>
    </section>
    <!--sliders-->
    <div class="slider">
        <!--slider list items-->
        <div class="list">
            <div class="item active">
                <img src="../assets/images/background_1.jpg" alt="">
                <div class="content">
                    <p>{MOVIE TITLE}</p>
                    <h2>{GENRE}</h2>
                    <h3>{Release Date}</h3>
                </div>
            </div>
            <div class="item">
                <img src="../assets/images/5.jpg" alt="">
                <div class="content">
                    <p>{MOVIE TITLE}</p>
                    <h2>{GENRE}</h2>
                    <h3>{Release Date}</h3>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="item active">
                <img src="../assets/images/background_1.jpg">
                <div class="content">
                    <div class="title">
                        {Title}
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../assets/images/5.jpg">
                <div class="content">
                    <div class="title">
                        {Title}
                    </div>
                </div>
            </div>
        </div>

        <!-- next & prev buttons -->
        <div class="arrows">
            <button id="prev">&lt;</button>
            <button id="next">&gt;</button>
        </div>
        <!-- running time -->
        <div class="time"></div>
    </div>
    <script src="../assets/js/script.js"></script>
</body>
</html>