{% extends "base.html" %}

{% block extrastyles %}
<link rel="stylesheet" href="/static/css/payment.css">
{% endblock extrastyles %}

{% block content %}
<div class="receipt-container">
    <div class="receipt-header">
        <h2>Payment Receipt</h2>
        <p>Thank you for your payment!</p>
    </div>
    <div class="receipt-details">
        <div class="detail">
            <span class="label">Username:</span>
            <span class="value">{{ user.username }}</span>
        </div>
        <div class="detail">
            <span class="label">Seat Number:</span>
            <span class="value">{{ seat.seat_number }}</span>
        </div>
        <div class="detail">
            <span class="label">Payment Status:</span>
            <span class="value status-success">Successful</span>
        </div>
    </div>
    <div class="receipt-footer">
        <p>Have a great time at the movie!</p>
            <input type="hidden" name="booking_id" value="{{ booking.id }}">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <a href="/" style="text-decoration: none;"><button type="submit" class="home-button">Done</button></a>
    </div>
</div>
{% endblock content %}
