{% extends "base.html" %}


{% block extrastyles %}
<title>Registration</title>
<link rel="stylesheet" href="/static/css/signLog.css">
<link rel="stylesheet" href="/static/css/style.css">
{% endblock extrastyles %}

{% block content %}
<div class="form_container">
    <div class="form_box">
        <h2 id="title">Sign Up</h2>
        <form method="post">
            <div class="input_group">
                <div class="input_field" id="nameField">
                    <i class="fa-regular fa-user"></i>
                    <input type="text" id="username" placeholder="Name" name="username" required>
                </div>
                <div class="input_field">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" id="email" placeholder="Email" name="email" required>
                </div>
                <div class="input_field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="signupPassword" placeholder="Password" name="password" required>
                </div>
                <button type="submit">Register</button>
            </div>
        </form>
        <div class="form_footer">
            <hr>
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </div>
</div>

{% endblock content %}


{% block extrascripts %}
<script src="https://kit.fontawesome.com/a960bf3c61.js" crossorigin="anonymous"></script>
<script src="/static/js/signLog.js" defer></script>
{% endblock extrascripts %}