<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/seats.css" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Booking</title>
  </head>
  <body>
    <div class="container">
        <header>
            <nav>
                <a href="index.html">Home<span></span></span></a>
                <a href="shows.html">Shows<span></span></a>
                <a href="seats.html">Seat Selection<span></span></a>
                <a href="login.html">Login<span></span></a>
            </nav>
        </header>
        <div class="container2">
            <div class="movie_container">
                <label>Pick a movie:</label>
                <select id="movie">
                  <option value="10"></option>
                  <option value="12"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                </select>
              </div>
          
              <ul class="showcase">
                
                <li>
                  <div class="seat selected"></div>
                  <small>Selected</small>
                </li>
                <li>
                  <div class="seat occupied"></div>
                  <small>Occupied</small>
                </li>
              </ul>
              <div class="contain">
                <div class="screen"></div>
                <div class="row">
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                </div>
                <div class="row">
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat occupied"></div>
                  <div class="seat occupied"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                </div>
          
                <div class="row">
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat occupied"></div>
                  <div class="seat occupied"></div>
                </div>
          
                <div class="row">
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                </div>
          
                <div class="row">
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat occupied"></div>
                  <div class="seat occupied"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                </div>
          
                <div class="row">
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat"></div>
                  <div class="seat occupied"></div>
                  <div class="seat occupied"></div>
                  <div class="seat occupied"></div>
                  <div class="seat"></div>
                </div>
              </div>
        </div>
    </div>
            <p class="text"> You have selected <span id="count">0</span> seats for a price of $<span id="total">0</span></p>
    <footer>
        <p class="end">&copy; 2024 LuKoBa. All rights reserved. | Designed By <i class="fa-solid fa-face-grin"></i> owayopaul</p>
    </footer>
    <script src="../assets/JS/seats.js"></script>
  </body>
</html>
