<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🍿LuKoBaShows</title>
    <link rel="stylesheet" href="../assets/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
        <nav class="fullNav">
            <div class="leftNav">
                <div class="logo">
                    <svg height = "30" width = "200" xmlns = "http:www.w3.org/2000/svg">
                        <text x="10" y="22" font-size = "19" fill ="#0ef">🍿LuKoBaShows</text>
                    </svg>
                </div>   
                <div class="search">
                <svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                    <title>Search</title>
                    <path
                        d="M11.8 10.864L8.859 7.918a4.912 4.912 0 0 0-.444-6.47A4.888 4.888 0 0 0 4.928 0a4.888 4.888 0 0 0-3.485 1.449 4.942 4.942 0 0 0 0 6.979 4.888 4.888 0 0 0 3.485 1.449c1.052 0 2.105-.33 2.976-1.005l2.96 2.93a.658.658 0 0 0 .476.198.686.686 0 0 0 .477-.198.672.672 0 0 0-.016-.938zm-6.855-2.32c-.97 0-1.858-.38-2.549-1.054C1 6.09 1 3.802 2.396 2.387a3.578 3.578 0 0 1 2.549-1.054c.97 0 1.858.379 2.548 1.054s1.052 1.58 1.052 2.551c0 .971-.378 1.86-1.052 2.552a3.539 3.539 0 0 1-2.548 1.053z"
                        fill="#777"></path>
                </svg>
                </div>
                <input class="text" type="text" placeholder="search for movies, events, plays, sports and activities">
            </div>
            <div class="right">
                <p>uchiha</p>
                <div class="arrow">
                    <img src="../assets/images/down-arrow1.svg" alt="">
                </div>
                <div class="sign">
                    <button><a href="login.html" target="_self">Login</a></button>
                </div>
                <div class="bar">
                    <svg width="22px" height="14px" xmlns="http://www.w3.org/2000/svg">
                        <title>Hamburger Menu</title>
                        <g fill-rule="nonzero" stroke="#FFF" stroke-width="1.5" fill="none" stroke-linecap="round">
                            <path d="M1.611 1h20.614M1.611 7h20.614M1.611 13h20.614"></path>
                        </g>
                    </svg>
                </div>
            </div>
        </nav>
        <nav class="secNav">
            <div class="secLeft">
                <a href="index.html"><p>Home</p></a>
                <a href="shows.html"><p>Movies</p></a>
                <p>Events</p>
                <p>Plays</p>
                <p>Sports</p>
                <p>Activities</p>
            </div>
            <!--<div class="secRight">
                <p>ListYourShow</p>
                <p>Corporate</p>
                <p>Offers</p>
                <p>Gift Cards</p>
            </div>-->
        </nav>

        <!--carousel-->
        
</body>
</html>